body {
  background-color: beige;
}
.app {
  background-color: white;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.05);
  border-radius: 15px;
}
