body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/203/original/bodyWallpaper.jpg?1721814743");
  background-size: cover;
}
.app {
  background-color: #c6e7ee;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 40px 60px rgba(65, 50, 100, 0.05);
  border-radius: 15px;
}
